{
  "branches": [
    "main",
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "repository": "https://github.com/Muhammed-Rahif/quran",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "release-assets/app-release.apk",
            "label": "quran-universal-apk-v${nextRelease.version}.apk",
            "name": "quran-universal-apk-v${nextRelease.version}.apk"
          },
          {
            "path": "CHANGELOG.md",
            "label": "CHANGELOG-${nextRelease.version}.md",
            "name": "CHANGELOG-${nextRelease.version}.md"
          },
          {
            "path": "release-assets/Quran.msix",
            "label": "quran-x64-v${nextRelease.version}.msix",
            "name": "quran-x64-v${nextRelease.version}.msix"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "dart scripts/versioning.dart -v ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "pubspec.yaml",
          "android/app/build.gradle",
          "ios/App/App.xcodeproj/project.pbxproj"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
