{
  "branches": [
    "main",
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "repository": "https://github.com/Muhammed-Rahif/quran",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "release-assets/app-release.apk",
            "label": "quran-v${nextRelease.version}.apk",
            "name": "quran-v${nextRelease.version}.apk"
          },
          {
            "path": "release-assets/Quran.zip",
            "label": "quran-v${nextRelease.version}-windows-x86-64.zip",
            "name": "quran-v${nextRelease.version}-windows-x86-64.zip"
          },
          {
            "path": "release-assets/release-linux-x86.deb",
            "label": "quran-v${nextRelease.version}-linux-x86-64.deb",
            "name": "quran-v${nextRelease.version}-linux-x86-64.deb"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "dart scripts/versioning.dart -v ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "pubspec.yaml",
          "android/app/build.gradle",
          "ios/App/App.xcodeproj/project.pbxproj"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}
